body{
	font-family: sans-serif;
	
}
h1{
	font: 'Open-Sans';
	font-weight: 100;
}

circle{
	r:5px;
	fill: rgba(224, 15, 124, 0.85);
}

.container{
	padding: 4px;
	text-align: center;
}

.line{
	stroke:black;
    fill:none;
}

svg{
	border: solid rgba(0, 0, 0, 0.5) 1px;
}

rect{
	fill: steelblue;
}

.tick line{
	stroke: lightgrey;
}